<% if @user %>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        
      </div>
      <div class="card-body">
        <ul class="list-group">
          <% TwitterRequest.following_me(params[:user_name]).each do |user| %>
          <li class="list-group-item"><%=link_to user[:name], root_path(user_name: user[:screen_name]) %></li>
          <% end %>
        </ul>
        <hr>
        <%=@user[:location]%>
        <button type="button" class="btn btn-primary position-relative">
          Favorites
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            <%=@user[:favorites_count]%>
            <span class="visually-hidden">unread messages</span>
          </span>
        </button>

        <button type="button" class="btn btn-primary position-relative">
          Followers
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            <%=@user[:followers_count]%>
            <span class="visually-hidden">unread messages</span>
          </span>
        </button>

        <button type="button" class="btn btn-primary position-relative">
          Friends count
          <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            <%=@user[:friends_count]%>
            <span class="visually-hidden">unread messages</span>
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
<hr>
<% end %>
<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-header">
        Who is following <%=params[:user_name]%>
      </div>
      <div class="card-body">
        <ul class="list-group">
          <% TwitterRequest.following_me(params[:user_name]).each do |user| %>
          <li class="list-group-item"><%=link_to user[:name], root_path(user_name: user[:screen_name]) %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-header">
        Timeline
      </div>
      <div class="card-body">
        <ul class="list-group">
          <% TwitterRequest.timeline(params[:user_name]).each do |text| %>
          <li class="list-group-item"><%= text %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="card">
  <div class="card-header">
    Last mentions
  </div>
  <div class="card-body">
    <ul class="list-group">
      <ul class="list-group">
        <% TwitterRequest.mentions.each do |text| %>
        <li class="list-group-item"><%= text %></li>
        <% end %>
      </ul>
    </ul>
  </div>
</div>
<hr>
<div class="card">
  <div class="card-header">
    Recent searchs
  </div>
  <div class="card-body">
    <ul class="list-group">
      <% 4.times do %>
      <li class="list-group-item"><%=Faker::Lorem.paragraph%></li>
      <% end %>
    </ul>
    <a href="<%=recent_searchs_path%>" class="btn btn-primary">Go to searchs</a>
  </div>
</div>